<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>酷炫豬豬</title>
    <link rel="stylesheet" href="bootstrap-3.3.7-dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="bootstrap-3.3.7-dist/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="custom/css/shequ.css"/>
    <script type="application/javascript" src="bootstrap-3.3.7-dist/js/jquery-3.4.1.min.js"></script>
    <script type="application/javascript" src="bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script type="application/javascript" src="handlebars/handlebars-v4.1.2.js"></script>
</head>
<script type="application/javascript">
    window.onload = function(){
        //debugger;
        var closable = window.localStorage.getItem("closable");
        if("true" == closable){
            window.close();
            window.localStorage.removeItem("closable");
        }
    }
</script>
<body>
<div th:insert="~{navigation :: nav}"></div>
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2><span class="glyphicon glyphicon-list" aria-hidden="true"></span>发现</h2>
            <hr>
            <div th:if="${error}">
                <span th:text="${error}"></span>
            </div>
            <div class="media" th:each="questionDTO : ${pageDTO.data}">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object img-thumbnail" th:src="${questionDTO.user.avatarUrl}" alt="图片丢失了"
                             title="用户头像">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading" >
                        <a th:href="@{'/question/'+${questionDTO.id}}" th:text="${questionDTO.title}"></a>
                    </h4>
                    <span class="text-desc"><span th:text="${questionDTO.commentCount}"></span> 个回复 • <span
                            th:text="${questionDTO.viewCount}"></span> 次浏览 • <span
                            th:text="${#dates.format(questionDTO.gmtCreate,'yyyy-MM-dd HH:mm:ss')}"></span> 前</span>
                </div>
            </div>

            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li th:if="${pageDTO.showFirstPage}">
                        <a href="/index?page=1" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li th:if="${pageDTO.showPrevious}">
                        <a th:href="@{/index(page=${pageDTO.page}-1)}" aria-label="Previous">
                            <span aria-hidden="true">&lt;</span>
                        </a>
                    </li>
                    <li th:each="page : ${pageDTO.pageList}" th:class="${pageDTO.page==page}? 'active' : ''"><a
                            th:href="@{/index(page=${page})}" th:text="${page}"></a></li>
                    <li th:if="${pageDTO.showNext}">
                        <a th:href="@{/index(page=${pageDTO.page}+1)}" aria-label="Previous">
                            <span aria-hidden="true">&gt;</span>
                        </a>
                    </li>
                    <li th:if="${pageDTO.showEndPage}">
                        <a th:href="@{/index(page=${pageDTO.totalPage})}" aria-label="Previous">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>

        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h3>热门话题</h3>

        </div>
    </div>
</div>
</body>
</html>