<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>酷炫豬豬</title>
    <link rel="stylesheet" th:href="@{/bootstrap-3.3.7-dist/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/bootstrap-3.3.7-dist/css/bootstrap-theme.min.css}"/>
    <link rel="stylesheet" th:href="@{/custom/css/publish.css}"/>
    <link rel="stylesheet" th:href="@{/editor/css/editormd.min.css}"/>
    <script type="application/javascript" th:src="@{/bootstrap-3.3.7-dist/js/jquery-3.4.1.min.js}"></script>
    <script type="application/javascript" th:src="@{/bootstrap-3.3.7-dist/js/bootstrap.min.js}"></script>
    <script type="application/javascript" th:src="@{/custom/js/publish.js}"></script>
    <script type="application/javascript" th:src="@{/editor/editormd.min.js}"></script>
    <script type="application/javascript" th:src="@{/handlebars/handlebars-v4.1.2.js}"></script>
</head>
<body>
<div th:insert="~{navigation :: nav}"></div>
<div class="container-fluid main publish" style="margin-bottom: 50px;">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>发起</h2>
            <hr>
            <form>
                <input type="hidden" name="id" id="id" th:value="${id}">
                <div class="form-group">
                    <label for="title">问题标题(简单扼要)</label>
                    <input type="text" class="form-control" id="title" name="title" placeholder="问题标签"
                           th:value="${title}" onblur="check();" autocomplete="off">
                    <span class="titleError error"></span>
                </div>
                <div class="form-group" id="question-editor">
                    <label for="description">问题补充(必填，请参照右侧提示):</label>
                    <textarea name="description" class="form-control" id="description" cols="30" rows="10"
                              th:text="${description}" onblur="check();" style="display: none"></textarea>
                    <span class="descriptionError error"></span>
                    <script type="text/javascript">
                        $(function () {
                            var editor = editormd("question-editor", {
                                 width  : "100%",
                                 height : "350px",
                                path: "/editor/lib/",
                                delay:0,
                                watch:false,
                                placeholder:'请输入问题描述',
                                emoji:true,
                                imageUpload:true,
                                imageFormats   : ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
                                imageUploadURL : "/file/upload",
                            });
                        });
                    </script>
                </div>
                <div class="form-group">
                    <label for="tag">添加标签</label>
                    <div class="pOverflow pBorder" id="publish-popover" onclick="showTag()">
                        <div class="pFloat" id="chooseAfter-template">
                            <div class="input-tag" th:each="tag : ${tags}" th:if="${null !=tags}" th:inline="text">[[${tag}]]<span
                                    th:id="${'c-'+tagStat.index}" class="xxx" onclick="remove(this)">×</span></div>
                        </div>
                        <input type="text" class="publish-input" id="tag" name="tag" placeholder="标签，如：php（用逗号,分号;分隔）"
                               th:value="${tag}" onkeyup="addTag(this);" autocomplete="off">
                    </div>
                    <span class="tagError error"></span>
                    <!-- 标签模板 -->
                    <div id="tags-templates" data-true="no" style="display: none">

                    </div>
                </div>

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <button type="button" onclick="faBu()" class="btn btn-success pull-right">发布</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <ul>
                <h3>问题发起指南</h3>
                <li>问题标签：请用精简的语言描述你发布的问题，不超过25个字</li>
                <li>问题补充：详细补充您的问题，并确保问题描述清晰直观，并提供一些相关资料</li>
                <li>选择标签：请选择一个或多个合适的标签</li>
            </ul>
        </div>
    </div>
</div>
<div th:insert="~{footer :: foot}"></div>
<script id="tags-template" type="text/x-handlebars-template">
    <div>
        <ul class="nav nav-tabs" role="tablist" id="publish-tabList">
            {{#each tag}}
            <li role="presentation" onclick="keep()"><a href="#tag-{{@index}}" aria-controls="tag-{{@index}}" role="tab"
                                                        data-toggle="tab">{{categoryName}}</a></li>
            {{/each}}
        </ul>
        <div class="tab-content" id="tab-content" style="border:1px solid #efefef;padding: 5px">
            {{#each tag}}
            <div role="tabpanel" class="tab-pane pOverflow" id="tag-{{@index}}">
                {{#each tags}}
                <div class="qTag" data-id="{{@index}}" onclick="choose(this)">{{this}}</div>
                {{/each}}
            </div>
            {{/each}}
        </div>
    </div>
    </div>
</script>
<script id="tagsAndRemove-template" type="text/x-handlebars-template">
    {{#each tagList}}
    <div class="input-tag" id="f-{{@index}}">{{this}}<span id="c-{{@index}}" class="xxx" onclick="remove(this)">×</span>
    </div>
    {{/each}}
</script>
</body>
</html>